extends layout

block content
  form(class="form-signin" method="POST" action=request)
    input(type="text" name="data" value='JOHN0000MICHAEL0009994567')
    button(class=buttonClass type="submit") Submit Data

